services:
  fastapi:
    build: ./upwork_api
    container_name: fastapi_app
    restart: no
    env_file: .env
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    volumes:
      - ./playwright_cache:/root/.cache/ms-playwright
      - ./cloned-profile:/root/.config/chrome-profile
      - ./upwork_api/state_data:/app/state_data
      - ./upwork_api/data:/app/data
    environment:
      - DISPLAY=:99
    networks:
      - backend

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped
    env_file: .env
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=${N8N_HOST}
      - N8N_PORT=${N8N_PORT}
      - N8N_ENCRYPTION_KEY=${N8N_ENCRYPTION_KEY}
      - N8N_BASIC_AUTH_ACTIVE=${N8N_BASIC_AUTH_ACTIVE}
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
      - N8N_RUNNERS_ENABLED=true
    volumes:
      - ./n8n_data:/home/node/.n8n
    depends_on:
      - postgres
      - fastapi
    networks:
      - backend

  postgres:
    image: pgvector/pgvector:pg15
    container_name: postgres
    restart: unless-stopped
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

networks:
  backend:

volumes:
  postgres_data:
